<p>This is a <em>very</em> simple (which means you shouldn't actually use this) todo list application built in Angular, scaffolded with generator-angular, and written by portunes (Zach Blake).</p>

<p>It makes use of angular-local-storage to allow list items to persist after refresh/close. Depending on your browser, this means the list will be stored as a cookie or as a compact database.</p>
